 /*--------------
  Responsive Css
 ----------------*/

/* Tablet Device */
@media only screen and (min-width: 688px) and (max-width:992px) {
    /* --- Banner-area */
    .banner-heading {
        font-size: 38px;
    }

    /* Feature area */
    .feature-product {
        width: 200px;
    }
    .feature-subheader::after {
        left: 47%;
    }

    /* Latest-news area */
    .btn-news {
        padding: 10px 40px;
    }
}

/* Mobile Device */
@media only screen and (max-width:688px) {
    /* Common css  */
    .section-header {
        font-size: 36px;
    }

    /* --- Banner area */
    .banner-area {
        padding-bottom: 34px;
    }
    .banner-subheading {
        font-size: 16px;
    }
    .banner-heading {
        font-size: 36px;
    }
    .banner-left {
        margin-bottom: 56px;
    }

    /* Feature area */
    .feature-area {
        padding: 107px 0 0 0;
    }
    .feature-subheader {
        margin-bottom: 101px;
    }
    .feature-subheader::after{
        display: none;
    }
    .feature-product {
        width: 100%;
        margin-bottom: 115px;
    }
    .feature-product img {
        width: 90%;
    }

    /* Latest-news area */
    .latest-news {
        padding: 80px 0;
    }
    .news-title {
        font-size: 25px;
    }

}