 /*--------------
  Responsive Css
 ----------------*/

/* Tablet Device */
@media only screen and (min-width: 688px) and (max-width:992px) {
    /* --- Banner-area */
    .banner-heading {
        font-size: 38px;
    }
}

/* Mobile Device */
@media only screen and (max-width:688px) {
    /* --- Banner area */
    .banner-area {
        padding-bottom: 34px;
    }
    .banner-subheading {
        font-size: 16px;
    }
    .banner-heading {
        font-size: 36px;
    }
    .banner-left {
        margin-bottom: 56px;
    }

}