 /*--------------
  Responsive Css
 ----------------*/

/* Tablet Device */
@media only screen and (min-width: 688px) and (max-width:992px) {
    /* --- Banner-area */
    .banner-heading {
        font-size: 38px;
    }

    /* Feature area */
    .feature-product {
        width: 200px;
    }
    .feature-subheader::after {
        left: 47%;
    }

    /* Latest-news area */
    .btn-news {
        padding: 10px 40px;
    }

   /* Happy-clients area */
    .single-client-box.text-center {
        margin-bottom: 30px;
    }

    /* Frequently-asked-questions area  */
    .frequently-asked-image {
        text-align: center;
        margin-bottom: 65px;
    }

    /* Footer area */
    .footer-download-box {
        text-align: center;
    }
    .navbar {
        justify-content: center;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-area a.nav-link {
        margin-right: 24px;
    }
    .footer-app {
        margin-top: 60px;
        text-align: center;
    }
    .copyright {
        margin-top: 80px;
        text-align: center;
    }

    /* Save area  */
    .custom-alignment {
        text-align: center;
    }
    .save-image {
        margin-top: 40px;
    }

}

/* Mobile Device */
@media only screen and (max-width:688px) {
    /* Common css  */
    .section-header {
        font-size: 36px;
    }

    /* --- Banner area */
    .banner-area {
        padding-bottom: 34px;
    }
    .banner-subheading {
        font-size: 16px;
    }
    .banner-heading {
        font-size: 36px;
    }
    .banner-left {
        margin-bottom: 56px;
    }

    /* Feature area */
    .feature-area {
        padding: 107px 0 0 0;
    }
    .feature-subheader {
        margin-bottom: 101px;
    }
    .feature-subheader::after{
        display: none;
    }
    .feature-product {
        width: 100%;
        margin-bottom: 115px;
    }
    .feature-product img {
        width: 90%;
    }

    /* Latest-news area */
    .latest-news {
        padding: 80px 0;
    }
    .news-title {
        font-size: 25px;
    }

   /* Happy-clients area */
   .cnt-header-custom {
    padding: 0px 60px;
    line-height: 54px;
    }
    .clients-box {
        padding: 0;
    }
    .single-client-box{
        padding: 30px 20px;
        margin-bottom: 30px;
    }

    /* Frequently-asked-questions area  */
    section.frequently-asked-area {
        padding: 0 0 65px 0;
    }
    .frqnt-header-custom {
        margin-bottom: 25px;
        padding: 0 20px;
        line-height: 50px;
    }
    .frequently-asked-image {
        text-align: center;
        margin-bottom: 65px;
    }
    .frequently-asked-image img {
        width: 100%;
    }

    /* Save area  */
    .custom-alignment {
        text-align: center;
    }
    .save-image {
        margin-top: 40px;
    }

    /* Footer area */
    .footer-area {
        background-color: #0B0D17;
        padding: 80px 0 45px 0;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-area a.nav-link {
        margin-right: 24px;
    }
    .copyright {
        margin-top: 80px;
        text-align: center;
    }

}