/* Common css  */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600&display=swap');
/* 
font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
 */
body{
    font-family: 'Poppins', sans-serif
}

.section-header {
    font-weight: 600;
    font-size: 48px;
    color: #000000;
}
.header-space{
    margin-bottom: 52px;
}
.highlighted{
    color: #E76F51;
}

/* Header area  */
.header-area{
    background-color: #264653;
}


/* Banner area */
.banner-area {
    padding-bottom: 96px;
}
.banner-subheading {
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.banner-heading {
    font-weight: 600;
    font-size: 48px;
    color: #FFFFFF;
}
.banner-text {
    color: #E0E0E0;
    margin: 18px 0;
}
.btn-custom {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #E76F51;
    padding: 10px 45px;
    border-radius: 5px;
}
.banner-right img {
    width: 100%;
}

/* Feature area */
.feature-area{
    padding: 64px 0;
}
.feature-subheader {
    font-weight: 600;
    font-size: 14px;
    color: #E76F51;
    position: relative;
    margin-bottom: 115px;
    
}
.feature-subheader::after {
    position: absolute;
    width: 58.5px;
    height: 1px;
    left: 48%;
    top: 150%;
    content: "";
    background: #E76F51;
}
.feature-product{
    width: 288px;
}
.feature-product img{
    width: 100%;
}
.product-one img,
.product-three img{
    filter: grayscale(100%);
}

/* Latest-newa area */
.latest-news{
    padding: 100px 0 160px 0;
}
.news-thumbnail img{
width: 100%;
}
article {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px;
}
.news-title {
    font-weight: 600;
    font-size: 26px;
    color: #18191F;
    margin: 40px 0 10px 0;
}
.news-text {
    font-size: 16px;
    line-height: 32px;
    color: #6C6C6C;
    margin-bottom: 40px;
}
.btn-news {
    font-weight: 500;
    font-size: 16px;
    color: #E76F51;
    padding: 10px 45px;
    border-radius: 5px;
    border: 1px solid #E76F51;
    transition: .3s;
}
.btn-news:hover{
    background-color: #E76F51;
    color: #ffffff;
}

/* Happy-clients area */
.happy-clients-area{
    padding-bottom: 80px;
}
.cnt-header-custom {
    margin-bottom: 80px;
    }
.clients-box {
    padding: 0 55px;
}
.client-image {
    margin-bottom: 30px;
}
.client-image img {
    width: 149px;
}
.client-quote {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #6C6C6C;
}
.client-review {
    color: #E77C40;
}
.client-name {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #23A6F0;
    margin: 15px 0;
}
.client-id {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.single-client-box.text-center {
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    padding: 40px 35px;
    border-radius: 5px;
}